test.py
ideas
do.yml
TODO
stable-diffusion-webui-1.4.0
history.txt
seeds.txt
.env
.idea

TODO.txt
results.json
script.txt
__pycache__
vectorDB
delete.txt
dockb
*.wav
Backups
*.index
*.pth
history_chat.json
old_history.txt
Vocal_remover
dataset_prep.py
m4a_to_wav.py
idea.py
theory.py
desktop.ini
learning
Plugins/
TODO.md