test.py
ideas
do.yml
TODO
stable-diffusion-webui-1.4.0
history.txt
seeds.txt
.env
.idea
stickerset.json
TODO.txt
results.json
script.txt
pokemon.jsonl
__pycache__
vectorDB
delete.txt
raise(old).yml
new_stickers.txt
dockb
*.wav
raise(old).yml
Backups
*.index
*.pth
history_chat.json
old_history.txt
Vocal_remover
dataset_prep.py
m4a_to_wav.py
idea.py
theory.py
desktop.ini
learning
Plugins/